/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require_self
 *= require_tree .
 */

//#banner {
//  background: #9c9;
//  padding: 10px;
//  border-bottom: 2px solid;
//  font: small-caps 40px/40px "Times New Roman", serif;
//  color: #282;
//  text-align: center;
//  img {
//    float: left;
//    height: 40px;
//  }
//}
//
//#notice {
//  color: #000 !important;
//  border: 2px solid red;
//  padding: 1em;
//  margin-bottom: 2em;
//  background-color: #f0f0f0;
//  font: bold smaller sans-serif;
//}
//
//#columns {
//  background: #141;
//  #main {
//    margin-left: 17em;
//    padding: 1em;
//    background: white;
//  }
//  #side {
//    float: left;
//    padding: 1em 2em;
//    width: 13em;
//    background: #141;
//
//    form, div {
//      display: inline;
//    }
//    input {
//      font-size: small;
//    }
//    #cart {
//      font-size: smaller;
//      color: white;
//      table {
//        border-top: 1px dotted #595;
//        border-bottom: 1px dotted #595;
//        margin-bottom: 10px;
//      }
//    }
//
//    ul {
//      padding: 0;
//      li {
//        list-style: none;
//        a {
//          color: #bfb;
//          font-size: small;
//        }
//      }
//    }
//  }
//
//  .depot_form {
//    fieldset {
//      background: #efe;
//      legend {
//        color: #dfd;
//        background: #141;
//        font-family: sans-serif;
//        padding: 0.2em 1em;
//      }
//    }
//    form {
//      label {
//        width: 5em;
//        float: left;
//        text-align: right;
//        padding-top: 0.2em;
//        margin-right: 0.1em;
//        display: block;
//      }
//      select, textarea, input {
//        margin-left: 0.5em;
//      }
//      .submit {
//        margin-left: 4em;
//      }
//      br {
//        display: none
//      }
//    }
//  }
//
//  .locale {
//    float: right;
//    margin: -0.25em 0.1em;
//  }
//}
//
//

//body {
//  padding-top: 20px;
//  padding-bottom: 40px;
//}
//
///* Custom container */
//.container-narrow {
//  margin: 0 auto;
//  max-width: 700px;
//}
//
//.container-narrow > hr {
//  margin: 30px 0;
//}
//
///* Main marketing message and sign up button */
//.jumbotron {
//  margin: 60px 0;
//  text-align: center;
//}
//
//.jumbotron h1 {
//  font-size: 72px;
//  line-height: 1;
//}
//
//.jumbotron .btn {
//  font-size: 21px;
//  padding: 14px 24px;
//}
//
///* Supporting marketing content */
//.marketing {
//  margin: 60px 0;
//}
//
//.marketing p + h4 {
//  margin-top: 28px;
//}
//
//.entry a {
//  color: #0088cc;
//  font-size: 14px;
//}
//
//.carousel-caption h3 a {
//  color: #8e94cc;
//}
//
//h3 {
//  font-size: 18px;
//  line-height: 27px;
//}
//
//.container-fluid.row-fluid {
//  background-color: grey;
//}


.hero-unit {
  margin-top: -50px;
}

.phone {
  font-style: italic;
}

.top-menu {
  font-size: 15px;
}

.carousel_container {
  background-color: #000000;
  margin-bottom: 18px;
  height: 350px;
}

.card {
  position: fixed;
  right: -5px;
  top: -5px;
  padding: 9px;
  width: 300px;
  z-index: 10;
  background-color: #08C;
  color: #ffffff;
  border-radius: 0 0 0 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.05);
  min-height: 30px;
}

.card_text {
  font-size: 13px;
  line-height: 18px;
}
