/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require_self
 *= require_tree .
 */

.hero-unit {
  margin-top: -50px;
}

.phone {
  font-style: italic;
}

.top-menu {
  font-size: 15px;
}

.carousel_container {
  background-color: #000000;
  margin-bottom: 18px;
  height: 350px;
}

.card {
  position: fixed;
  right: -5px;
  top: -5px;
  padding: 9px 9px 0 18px;
  min-width: 200px;
  z-index: 10;
  background-color: #08C;
  color: #ffffff;
  border-radius: 0 0 0 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.05);
  min-height: 30px;
}

.card_text {
  font-size: 13px;
  line-height: 18px;
}

.thumbnail.product img {
  width: 260px;
  height: 150;
}

.caption {
  padding: 0 2px !important;
}

.products {
  margin-left: 66px !important;
}

footer {
  margin-left: 35px;
}

.card_form {
  display: inline;
  float: left;
}

.card_btn {
  margin: 7px 17px 0 0;
}

.card table {
  border-bottom: 1px dotted;
}

tr.total_line {
  border-top: 1px dotted;
}

ul.nav.nav-pills select.span2 {
  width: 89px;
}

span.title,  {
  padding: 0 5px 0 5px ;
}