<ul class="breadcrumb">
  <li>
    <%= link_to t('store.index.home_page'), store_path %>
  </li>

  <% if params[:category_id] %>
      <li class="active">
        <span class="divider">/</span>
        <%= current_path(params[:category_id]) %>
      </li>
  <% end %>
</ul>