<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <% @available_categories.each do |category| %>
              <li><%= link_to category.title_ru, store_path(category_id: category.id), remote: true %></li
              <li class="divider"></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9 products">
      <div class="row">
        <ul class="thumbnails">
          <% @products.each do |product| %>
              <li class="span3">
                <div class="thumbnail product">
                  <%= link_to (image_tag product.image_url), product_path(product) %>
                  <div class="caption">
                    <h5><%= link_to product.title, product_path(product) %></h5>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>