<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Лицо</li>
          <li><a href="#">Тени</a></li>
          <li><a href="#">Помада</a></li>
          <li><a href="#">Тушь</a></li>
          <li class="nav-header">Тело</li>
          <li><a href="#">Увлажняющие крема</a></li>
          <li><a href="#">Скрабы для лица</a></li>
          <li><a href="#">Нежирные крема</a></li>
          <li class="nav-header">Снятие макияжа</li>
          <li><a href="#">Тоники</a></li>
          <li><a href="#">Лосьоны</a></li>
          <li><a href="#">Молочко</a></li>
        </ul>
      </div>
      <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @products.each do |product| %>
              <li class="span3">
                <div class="thumbnail product">
                  <%= link_to (image_tag product.image_url), product_path(product) %>
                  <div class="caption">
                    <h5><%= link_to product.title, product_path(product) %></h5>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
      <!--/row-->
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <hr>

  <footer>
    <p>© Company 2013</p>
  </footer>

</div>